.detail-area {
    padding: 1em;
    font-size: 16px;
    font-weight: 400;

    .head {
        border-bottom: 1px solid $nav-color;
        padding: 0.5em 0 0.5em 0;
        font-size: 16px;
        font-weight: 600;
    }

    .detail-cont {
        padding: 0.5em 0;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .heading {
            font-size: 16px;
            font-weight: 600;
            margin-right: 1em;
        }

        input {
            display: block;
            width: 100%;
            padding: 0.5em;
            text-align: right; 
            background: $nav-color;
            border: none;
            border-radius: 5px;
            font-size: 16px;

            &:focus{
                outline: solid 2px $accent-color;
            }

            &:hover{
                filter: brightness(1.5);
            }
        }
    }

    .description {

        .heading {
            font-size: 16px;
            font-weight: 600;
            margin-right: 1em;
            margin-bottom: 0.5em;
        }

        textarea {
            display: block;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0.5em;
            background: $nav-color;
            border: none;
            border-radius: 5px;
            font-size: 16px;

            &:focus{
                outline: solid 2px $accent-color;
            }

            &:hover{
                filter: brightness(1.5);
            }
        }
    }

    .priority {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .heading {
            font-size: 16px;
            font-weight: 600;
            margin-right: 1em;
        }

        input {
            display: block;
            width: 100%;
            padding: 0.5em;
            background: $nav-color;
            border: none;
            text-align: right; 
            border-radius: 5px;
            font-size: 16px;

            &:focus{
                outline: solid 2px $accent-color;
            }

            &:hover{
                filter: brightness(1.5);
            }
        }
    }

    .due-date {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .heading {
            font-size: 16px;
            font-weight: 600;
            margin-right: 1em;
            min-width: 80px;
        }

        input {
            display: block;
            width: 100%;
            padding: 0.5em;
            background: $nav-color;
            border: none;
            text-align: right; 
            border-radius: 5px;
            font-size: 16px;

            &:focus{
                outline: solid 2px $accent-color;
            }

            &:hover{
                filter: brightness(1.5);
            }
        }
    }

}