.project-area {

    padding: 1em;
    border-right: 1px solid $nav-color;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $nav-color;
        padding-bottom: 0.5em;

        .head-text {
            font-size: 16px;
            font-weight: 600;
        }

        .head-control {
            display: flex;

            .delete-project {
                background: $background-color;
                border-radius: 600px;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    background: $nav-color;
                }

                svg {
                    display: block;
                    height: 30px;
                    width: auto;

                    &:hover {
                        stroke: $danger-color;
                    }
                }
            }

            .add-project {
                background: $background-color;
                border-radius: 600px;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    background: $nav-color;
                }

                svg {
                    display: block;
                    height: 30px;
                    width: auto;

                    &:hover {
                        stroke: $accent-color;
                    }
                }
            }

        }

    }

    ul {
        list-style-type: none;
        padding-top: 0.5em;

        .active {
            border: 1px solid $accent-color;

        }

        li {
            padding: 0.5em 0 0.5em 0.5em;
            margin-bottom: 0.25em;
            border-radius: 5px;
            cursor: pointer;
            background-color: $background-color;

            &:hover {
                filter: brightness(1.5);
            }
        }
    }
}